parameters:
	level: 8
	paths:
		- src/
	bootstrapFiles:
		- %rootDir%/../../../tests/bootstrap.php
	ignoreErrors:
		- identifier: missingType.iterableValue
		- identifier: missingType.generics
		- '#Call to an undefined method Cake\\ORM\\Table::getExposedKey\(\).#'
		- '#PHPDoc tag @\w+ for \w+ \$table contains unresolvable type.#'
