parameters:
	level: 8
	paths:
		- src/
	bootstrapFiles:
		- %rootDir%/../../../tests/bootstrap.php
	checkMissingIterableValueType: false
	checkGenericClassInNonGenericObjectType: false
	ignoreErrors:
		- '#Call to an undefined method Cake\\ORM\\Table::getExposedKey\(\).#'
		- '#PHPDoc tag @\w+ for \w+ \$table contains unresolvable type.#'
